.container-newsheadline{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 60px;
}

.container-grid{
   
    display: grid; 
    background-color: #FFFFFF;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    gap:30px;

  
        
        @media(min-width:992px) {
            display: grid;
            grid-template-columns:  auto auto;
            justify-content: center;
            column-gap: 40px;
            row-gap: 40px;
            text-align: left;
             }
        @media(min-width:1400px) {
            grid-template-columns: auto auto auto;
        }

    a {
        text-decoration: none;
        color:#191919;
    }
    
    .newsbox {
        max-width: 420px;
        height: 430px;
        position: relative;
    

.img {
    width: 100%;
    height: 230px;
    margin-left: 0;
   
    z-index: 0;
}
.hidden {
    display:none;
}
    }
.date-box{
    border: 1px solid black;
    width:55px;
    height: 65px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
    background-color: #F9D783 ;

    h4{
        font-family: DM sans;
        font-weight: 700;
        color:#191919;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        justify-self: center;
    }
    p{
        font-family: Inter;
        font-weight: 400;
        color:#191919;
        text-align: center;
        margin-top: 0px;
        letter-spacing: -1px;
        
    }

}

}