.posts {
  border: 1px solid rgba(0, 0, 0, 0.141);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 90px;
  width: 340px;
  margin-top: 25px;
  margin-left: 40px;
}

h5 {
  font-family: "DM sans";
  font-size: 16px;
  font-weight: 700;
  color: #191919;
}

p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}