.topicromb {
    background-color:#F0EFE9;
    color : #191919;    
    padding: 10px 30px;
    border-radius: 35px;
    min-width: 80px;
    margin-right:15px;
    margin-top: 50px;
    text-align: center;

}