.scroll {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:last baseline;
    bottom: 20px;
    right: 30px;
    height: 50px;
    width: 80px;
    font-size: 1,5rem;
    z-index: 5;  

    @media(min-width:768px) {
    bottom: 30px;
    right: 40px;
    height: 90px;
    width: 120px;
    font-size: 2rem;
    }
    @media(min-width:992px) {
        bottom: 30px;
        right: 50px;
        height: 90px;
        width: 120px;
        font-size: 2rem;
          
        }
    @media(min-width:1400px) {
            bottom: 50px;
            right: 70px;
            height: 90px;
            width: 120px;
            font-size: 3rem;
              }
              p { 
                font-size: 16px;
                font-weight: 500;
                color: #a28c8c;
            
                @media(min-width:768px){
                font-size: 22px;
                font-weight: 700;
                
            }
            }

}
button {
    background-color: transparent;
    border: none;
}
.fa-2xl {
    color: #eec766;
    opacity: 110%;
    transition: opacity 0.5s ease;
    }

.no-show{
    display:none;
}
