.scroll {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  bottom: 70px;
  right: 120px;
  height: 90px;
  width: 120px;
  font-size: 2rem;
  z-index: 5;
}
.scroll button {
  background-color: transparent;
  border: none;
}
.scroll .fa-2xl {
  color: #F9D783;
  opacity: 110%;
  transition: opacity 0.5s ease;
}
.scroll p {
  font-size: 22px;
  font-weight: 700;
  color: #a28c8c;
}

.no-show {
  display: none;
}