.first-section {
    background-color: #F0EFE9;
    position: relative;
    height: 220px;
    .container {
        background-color: #F0EFE9;
    }

    .lines {

            color:#FFFFFF;
            display:block;
            position:absolute;
            max-width: 50%;
            bottom: 0;  
        }

             .link-part {
            display:flex;
            justify-content: center;
            gap:30px;
            text-align: center;

            a {
                color:#191919;
                text-decoration: none;
            
            &:hover {
                color: #f94d1C;
            }
        }
            }
        h1 {
            text-align: center;
            margin-top: 20px;
            font-family: 'DM Sans' ,sans serif;
            font-size: 56px;
            font-weight: 700;
            color: #191919;
             }

        }
