.team {
  background-color: #F9D783;
}
.team .container.one {
  padding-bottom: 75px;
}
@media (min-width: 992px) {
  .team .container.one {
    padding-bottom: 95px;
  }
}
.team .container.one .section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (min-width: 992px) {
  .team .container.one .section-title {
    text-align: left;
    align-items: left;
    display: grid;
    grid: 1f;
    grid-template-areas: "p  n" "h2 btn";
  }
}
.team .container.one .section-title p {
  grid-area: p;
}
.team .container.one .section-title h2 {
  padding-bottom: 20px;
  grid-area: h2;
}
@media (min-width: 992px) {
  .team .container.one .section-title h2 {
    padding-bottom: 0px;
  }
}
.team .container.one .section-title .btn-yellow {
  grid-area: btn;
  border: 1px solid #191919;
  text-align: center;
  height: 50px;
  width: 220px;
  padding: 15px;
  justify-self: end;
}
@media (min-width: 992px) {
  .team .container.one .section-title .btn-yellow {
    justify-self: start;
  }
}
@media (min-width: 1400px) {
  .team .container.one .section-title .btn-yellow {
    justify-self: end;
  }
}
.team .container.two {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .team .container.two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .team .container.two {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.team .container.two h3 {
  letter-spacing: -2px;
}
.team .dots {
  display: flex;
  font-size: 4rem;
  color: rgba(25, 25, 25, 0.2274509804);
  justify-content: center;
}
.team .dots i {
  max-width: 25px;
  padding-bottom: 50px;
}
.team .dots i:hover {
  color: #191919;
}