.our-service {
    background-color: #F0EFE9;
    padding-bottom: 120px;
    position: relative;
    z-index: 0;

    .floating-lines{
        position: absolute;
        position: absolute;
        bottom:0;
        right: 0;;
        max-width:40%;
        z-index: -1;

        @media(min-width:1400px) {
            max-width:70%
        }
        }
    
    
    .container {
        
        background-color: #F0EFE9;
        z-index: 1;

         .section-title {
            text-align: center;
            
           @media(min-width:1400px) {
            text-align: left;
            }
            }
        }
    
        .diff-service {
                display:grid;
                grid-template-rows: auto;
                padding-top: 55px;
                grid-gap:20px;
                row-gap: 50px;
                justify-content: center;

                @media(min-width:768px) {
                display: grid;
                grid-template-columns: auto auto;
                }

               @media(min-width:992px) {
                margin-left: 10%;
                margin-right: 10%;
                }

                @media(min-width:1200px) {
                    column-gap: 20px;
                    margin-left: 20%;
                    margin-right: 15%;
                }
                
            @media(min-width:1400px) {
                display: flex;
                flex-direction: row;
                justify-content: left;
                column-gap: 30px;
                margin-left: 0%;
                margin-right: 0%;
                
            }
                article {
                    max-width: 320px;
                    background-color: #FFFFFF;
                    &:hover {
                        background-color:#F9D783;
                    }


                .btn-arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFFFFF;
                    background-color: #191919;
                    text-decoration: none;
                    height: 50px;
                    width: 50px;
                    font-weight: 600;
                    font-size: 24px;
                    border-radius: 50%;
                    margin-top: 25px;
                    margin-right: 30px;
                    margin-left: auto;  
                   
                 &:hover {
                    background-color:#FFFFFF;
                    
                i {
                    color:#191919;
                }
            } 
        }  
    }  
              
        
                
        .empty-box {
            margin-left: 30px;
            height: 50px;
            width:40px;
            border-bottom: 1px solid #191919;
        }          
                
            
        h3 {
            margin-left: 30px;
            margin-top: 45px;
            margin-bottom: 25px;
            letter-spacing: -1px;
        }
        p {
            margin-top: 0px;
            margin-left: 30px;
            margin-right: 35px;
            letter-spacing: -1px;
             }
           
               .space{
                    margin-top: 50px;
                }
            

            }  
    .btn-pos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 45px;
       
    }
        
    }