.testamonial {
  background-color: #F9D783;
  padding-bottom: 120px;
}
.testamonial .container.one {
  padding-bottom: 120px;
  background-color: #FFFFFF;
  padding-right: 0;
  padding-left: 0;
}
.testamonial .container.one .section-title {
  text-align: center;
  display: flex;
}
.testamonial .container.one .section-title p {
  color: #f94d1C;
}
.testamonial .container.two {
  color: #191919;
  padding-right: 0;
  padding-left: 0;
  padding-top: 100px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  justify-content: flex-start;
}
@media (min-width: 992px) {
  .testamonial .container.two {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .testamonial .container.two {
    text-align: center;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 40px;
         column-gap: 40px;
    justify-content: center;
    margin-left: 30px;
  }
}
@media (min-width: 1400px) {
  .testamonial .container.two {
    text-align: left;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    justify-content: center;
    margin-left: 100px;
  }
}
.testamonial i {
  color: #f94d1C;
}
.testamonial .stars {
  margin-left: 0px;
  margin-bottom: 30px;
  justify-self: center;
}
@media (min-width: 992px) {
  .testamonial .stars {
    justify-self: center;
    text-align: center;
    margin-left: -20px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .testamonial .stars {
    justify-self: left;
    text-align: left;
    margin-left: 30px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) and (min-width: 1400px) {
  .testamonial .stars {
    justify-self: left;
    text-align: left;
    margin-left: 0px;
  }
}
.testamonial p {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 34px;
  color: #191919;
}
@media (min-width: 992px) {
  .testamonial p {
    margin-right: 30px;
  }
}
.testamonial .mini-grid {
  margin-top: 40px;
  text-align: start;
  display: grid;
  grid: auto;
  grid-template-areas: "pics name name name" "pics title title title";
  justify-content: start;
}
.testamonial p {
  margin-top: -5px;
  margin-left: 0px;
  letter-spacing: -1px;
  font-size: 16px;
  grid-area: title;
}
.testamonial h3 {
  margin-left: 0px;
  margin-top: 5px;
  grid-area: name;
}
.testamonial img {
  grid-area: pics;
  margin-right: 10px;
  margin-top: 3px;
}
.testamonial .cassandra {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .testamonial .cassandra {
    margin-left: 0;
    margin-right: 0;
  }
}
.testamonial .amanda {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .testamonial .amanda {
    margin-left: 0;
    margin-right: 0;
  }
}
.testamonial .jack {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 2;
}
@media (min-width: 1200px) {
  .testamonial .jack {
    margin-left: 0;
    grid-column: span 1;
  }
}
.testamonial .btn {
  display: flex;
  justify-content: center;
}
.testamonial .btn-black {
  padding: 15px 20px;
}
.testamonial .btn-black i {
  color: #FFFFFF;
}
.testamonial .btn-black:hover {
  background-color: #F9D783;
  color: #191919;
}
.testamonial .btn-black:hover i {
  color: #191919;
}