.testamonial {
    background-color: #F9D783;
    padding-bottom: 120px;
    opacity: 85%;
   
    

    .container.one {
        
        padding-bottom: 120px;
        background-color: #FFFFFF;
        padding-right: 0;
        padding-left: 0;

        .section-title {
            text-align: center;
            display:flex;

            p {
                color: #f94d1C;
            }
        }
       
    }
    .container.two {
        color: #191919;
        padding-right: 0;
        padding-left: 0;
        padding-top: 100px;
        padding-bottom: 95px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        justify-content: flex-start;
       
       @media(min-width:992px) {
        display: grid;
        grid-template-columns:  auto auto;
        justify-content: center;
        column-gap: 20px;
        text-align: center;
       }

        @media(min-width:1200px) {
    
        text-align: center;
        display:flex;
        flex-direction: row;
        column-gap: 40px;
        justify-content: center;
        margin-left: 30px;
    }
    @media(min-width:1400px) {

        text-align: left;
        display:flex;
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
        margin-left: 100px;
        

        }
        
    } 
    i {
        color: #f94d1C;
    }
        
        .stars {
            margin-left: 0px;
            margin-bottom: 30px;
            justify-self: center;

            @media(min-width:992px) {
                justify-self: center;
                text-align: center;
                margin-left: -20px;

            @media(min-width:1200px) {
               justify-self: left;
               text-align: left;
               margin-left: 30px;

               @media(min-width:1400px) {
                justify-self: left;
                text-align: left;
                margin-left: 0px;
            }    
        }
    }
}
        p{
            margin-left: 30px;
            margin-top:30px;
            font-size: 18px;
            letter-spacing: -1px;
            line-height: 34px;
            color: #191919;

            @media(min-width:992px) {
                margin-right: 30px;
            }
        }
       
    
        .mini-grid {
            margin-top: 40px;
            text-align: start;
            display: grid;
            grid:auto;
            grid-template-areas: "pics name name name"
                                 "pics title title title";
            justify-content: start;

           

        }
              
            p {
                margin-top: -5px;
                margin-left: 0px;
                letter-spacing: -1px;
                font-size: 16px;
              
                grid-area: title;
            }
            h3 {
                margin-left: 0px;
                margin-top: 5px;
                grid-area: name;
            }
            img {
                grid-area: pics;
                margin-right: 10px;
                margin-top: 3px;
                
                
            }

        
        .cassandra {
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
            @media(min-width:1200px) {
                margin-left: 0;
                margin-right: 0;
                
            }
        }
        .amanda{
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
            @media(min-width:1200px) {
                margin-left: 0;
                margin-right: 0;
            }
            
        }
        .jack {
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
            grid-column: span 2;
            @media(min-width:1200px) {
                margin-left: 0;
                grid-column: span 1;
            }
        }
    .btn{
        display:flex;
        justify-content: center;
    }
    .btn-black {
             
                padding:15px 20px;
                
                i {
                    color: #FFFFFF;
                }
            &:hover {
            background-color: #F9D783;
            color: #191919;

            i {
                color: #191919;
            }
            }
        }
    }   
