.news-articles {
  background-color: #FFFFFF;
}
.news-articles .container.one {
  background-color: #FFFFFF;
  padding: 0px;
  padding-bottom: 40px;
}
.news-articles .container.one .section-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}
@media (min-width: 1200px) {
  .news-articles .container.one .section-title {
    display: grid;
    grid: 1f;
    grid-template-areas: "p  n" "h2 btn";
  }
}
.news-articles .container.one .section-title p {
  grid-area: p;
}
.news-articles .container.one .section-title h2 {
  grid-area: h2;
}
.news-articles .container.one .section-title .btn-transparent {
  grid-area: btn;
  border: 1px solid #191919;
  text-align: center;
  justify-content: center;
  height: 55px;
  width: 220px;
  padding: 15px;
  justify-self: end;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .news-articles .container.one .section-title .btn-transparent {
    margin-top: 0px;
  }
}
.news-articles .container.dates {
  background-color: #FFFFFF;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
}
@media (min-width: 992px) {
  .news-articles .container.dates {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .news-articles .container.dates {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}
.news-articles .container.dates p {
  color: #191919;
}
.news-articles .container.dates img {
  margin-left: 0;
  margin-right: 0;
}
.news-articles .date-3 {
  grid-column: auto;
}
@media (min-width: 992px) {
  .news-articles .date-3 {
    grid-column: span 2;
    margin-left: 0;
    margin-right: 0;
    justify-self: center;
    max-width: 550px;
  }
}
.news-articles .container.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
  padding-top: 65px;
}
.news-articles .container.dots i {
  max-width: 25px;
  padding-bottom: 50px;
  font-size: 4rem;
  color: rgba(25, 25, 25, 0.2274509804);
  justify-content: center;
}
.news-articles .container.dots #darkdot {
  color: #191919;
}