footer {
    background-color: #191919;
    padding-top: 90px;

    @media(min-width:1200px) {
        padding-top: 115px;}
   
    .footer-1 {
        position: relative;  

        .lines {
            display:block;
            max-width:50%;
            color:#666666;
            position: absolute;
            bottom: 0;
            right:0; 
            max-width:50%;
            z-index: 1;

            @media(min-width:992px) {
                display: none;
            }
        
            @media(min-width:1200px) {
                display:block;
               
            }
       
        @media(min-width:1400px) {
            max-width: 100%;
        }
    }
    

   .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-bottom: 0px;
        position: relative;
        z-index: 0;
   
        @media(min-width:992px){
        display: grid;
        grid:1fr auto auto auto auto auto;
        grid-template-areas:"logo company tre resources link";
        
        }
       
      
        .logo-text {
            grid-area: logo;
            display: grid;
            justify-content: left;
            grid-template-areas: "logo"
                                  "p";
            grid-template-rows: 1fr 2fr;
            
            .logo {
                padding-bottom: 70px;
                
            
                @media(min-width:992px) {
                grid-area: logo;
                grid-area: span 2;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
           
             a {
                grid-area: logo;
                grid-area: span 2;
                margin-top: 20%;
                margin-right: 50px;

                @media(min-width:1200px) {
                grid-area:span 1;
                justify-content: left;
                margin-top: 5px;
                margin-bottom: 30px;
             }
            }
            p {
                display:none;
            
                @media(min-width:1200px) {
                display: block;
                grid-area: p;
                color:#FFFFFF; 
                line-height: 30px;   
                margin-right:30px;
            }
            }
        }

        article {
        
            display:none;

            @media(min-width:992px) {
            display: block;
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            z-index: 2;
            position: relative;
            }

            a {
                display: grid;
                text-decoration: none;
                color: #FFFFFF;
            }
            h3 {
                color:#FFFFFF;
                padding-top: 10px;
            } 
        }
        .company {
            grid-area: company;
            padding-right: 30px;
            

            .inside{
                margin-bottom: 10px;

                @media(min-width:1200px) {
                margin-bottom:30px;
            }
           
            h3 {
                margin-bottom: 40px;
            }
            a {
                margin-bottom:10px;

                @media(min-width:1200px) {
                    margin-bottom: 30px;
                }
            }
        
        }
    }
    
        .help {
            grid-area: tre;
            padding-right: 20px;

            .inside{
                margin-bottom: 10px;

                @media(min-width:1200px) {
                margin-bottom:30px;
            }
           
            h3 {
                margin-bottom: 40px;
            }
            a {
                margin-bottom:10px;

                @media(min-width:1200px) {
                    margin-bottom: 30px;
                }
            }
           
        }
    }
        .resources {
            grid-area: resources;
            padding-right: 20px;
            
            .inside{
                margin-bottom: 10px;

                @media(min-width:1200px) {
                margin-bottom:30px;
            }
           
            h3 {
                margin-bottom: 40px;
            }
            a {
                margin-bottom:10px;

                @media(min-width:1200px) {
                    margin-bottom: 30px;
                }
            }
           
        }
            
        }
        .links {
            grid-area: link;
           
            .inside{
                margin-bottom: 10px;
                

                @media(min-width:1200px) {
                margin-bottom:30px;
            }
           
            h3 {
                margin-bottom: 40px;
            }
            a {
                margin-bottom:10px;


                @media(min-width:1200px) {
                    margin-bottom: 30px;
                }
            }
           
        }
        }
    
}
}   
        .border {
            color: #707070;
            
        }
    
    .container.bottom{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding-top: 35px;

        p {
            color: #FFFFFF;
        }

        .social-media {
                        
            a {
                
                color:#FFFFFF;
                font-size: 1,3rem;
                margin-left:12px;

            &:hover {
                    color: #666666;
                }
               
            }

    }
    }
}